{% extends "layout.html" %}
{% block title %}
Contoso Hotel Bookings
{% endblock %}
{% block headingcontent %}
<h1>Contoso Hotel Bookings</h1>
{% endblock %}
{% block content %}
<button class="button3d" role="button" id="listbooking">List Bookings</button>

<br><br><br>
<h2>Create Booking</h2>
<br>
<p>
    <label for="hotel">Hotel: &nbsp;</label>
    <input type="text" id="hotel" name="hotel" value="" autocomplete="off" style="min-width: 400px;">
</p>
<br>
<p>
    <label for="visitor">Visitor: &nbsp;</label>
    <input type="text" id="visitor" name="visitor" value="" autocomplete="off" style="min-width: 400px;">
</p>
<br>
<p class="multiboxes">
    <span>
        <label for="checkin">Check-in: &nbsp;</label>
        <input type="date" id="checkin" name="checkin" value="{{ checkin }}">
    </span>
    <span>
        <label for="checkout">Check-out: &nbsp;</label>
        <input type="date" id="checkout" name="checkout" value="{{ checkout }}">
    </span>
</p>
<br>
<p class="multiboxes">
    <span>
        <label for="adults">Adults: &nbsp;</label>
        <input type="number" id="adults" name="adults" min="1" max="10" value="1">
    </span>
    <span>
        <label for="kids">Kids: &nbsp;</label>
        <input type="number" id="kids" name="kids" min="0" max="10" value="0">
    </span>
    <span>
        <label for="babies">Babies: &nbsp;</label>
        <input type="number" id="babies" name="babies" min="0" max="10" value="0">
    </span>
</p>
<br>
<p>
    <label for="rooms">Rooms: &nbsp;</label>
    <input type="number" id="rooms" name="rooms" min="1" max="10" value="1">
</p>
<br>
<button class="button3d" role="button" id="createbooking">Add Booking</button>

<br><br>
<div id="log">

</div>
{% endblock %}

{% block bottomloadscript %}
<script src="{{ url_for('static', filename='assets/js/autocomplete.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/createbooking.js') }}"></script>
<script type="text/javascript">
document.getElementById("listbooking").onclick = function() {
    window.location.href = "{{ url_for('list') }}";
};


document.getElementById("visitor").autocompleteclass = new AutoCompleteInput(
    document.getElementById("visitor"),
    function(search) {
        if(search.length < 1) {
            return Promise.resolve([]);
        }
        return fetch(window.getContosoUrl(window.contoso_configuration.api_baseurl, '/api/visitors') + "?" + (new URLSearchParams([ ...Object.entries({"name" : search }) ])).toString())
            .then(response => response.json())
            .then(function(data) {
                // is it an array?
                if(Array.isArray(data)) {
                    var results = [];
                    data.forEach(function(item) {
                        results.push({
                            "text": item.firstname + " " + item.lastname,
                            "value": item.visitorId
                        });
                    });
                    return results;
                }
                else {
                    return data;
                }
            });
    }
);

function escapeHtml(text) { return String(text).replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/'/g, "&#039;"); }

fetch(window.getContosoUrl(window.contoso_configuration.api_baseurl, '/api/hotels'))
    .then(response => response.json())
    .then(function(data) {
        if(Array.isArray(data)) {
            var hotels = [];
            data.forEach(function(item) {
                hotels.push({
                    "text": item.hotelname + " (Per night: " + item.pricePerNight + ")",
                    "html": escapeHtml(item.hotelname) + " &nbsp;&nbsp; <i>(Per night: " + escapeHtml(item.pricePerNight) + ")</i>",
                    "value": item.hotelId
                });
            });
            console.log(hotels);
            document.getElementById("hotel").autocompleteclass = new AutoCompleteInput(
                document.getElementById("hotel"),
                hotels
            );
            // does the hotel field have a focus?
            if(document.activeElement === document.getElementById("hotel")) {
                // fire a key up event, so that the dropdown is shown
                document.getElementById("visitor").onKeyUp();
            }
            else {
                // set it to the first hotel
                document.getElementById("hotel").autocompleteclass.setValue(hotels[0]);
            }
            return true;
        }
        else {
            return false;
        }
    });
</script>
<style>

</style>
{% endblock %}