{% extends "layout.html" %}
{% block title %}
Contoso Hotel Bookings
{% endblock %}
{% block headingcontent %}
<h1>Contoso Hotel Bookings</h1>
{% endblock %}
{% block content %}

<button class="button3d" role="button">New Booking</button>

<br><br>

<table class="nicetable">
    <thead>
        <tr>
            <th>header</th>
            <th>header</th>
            <th>header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
    </tbody>
</table>


{% endblock %}
